{% extends 'base.html' %}
{% load staticfiles %}

{% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/main_transitions.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}" />
{% endblock %}

{% block body %}
    <div class="pt-wrapper">
        <div class="pt-trigger-container">
            <div class="arrow-buttons">
                <div class="top pt-trigger" data-animation="4" data-goto="2">
                    <img src="{% static 'main/images/arrow.ico' %}"/>
                    <h1 class="transition-link home">Home</h1>
                </div>
                <div class="right pt-trigger" data-animation="1" data-goto="-1">
                    <h1 class="transition-link to-page">About</h1>
                    <h1 class="transition-link home">Home</h1>
                    <img src="{% static 'main/images/arrow.ico' %}"/>
                </div>
                <div class="left pt-trigger" data-animation="2" data-goto="-2">
                    <h1 class="transition-link to-page">Research</h1>
                    <h1 class="transition-link home">Home</h1>
                    <img src="{% static 'main/images/arrow.ico' %}"/>
                </div>
                <div class="down pt-trigger" data-animation="3" data-goto="4">
                    <h1 class="transition-link to-page">Personal</h1>
                    <img src="{% static 'main/images/arrow.ico' %}"/>
                </div>
            </div>
        </div>

        <div class="pt-page pt-page-1">
            <!--<img src='http://apod.nasa.gov/apod/image/1409/cocoonIC5146pelliccia.jpg' style="width: 300px; height: 300px;">-->
            <div class="page-content">
                <h3>Research</h3>
                <p>I work with Eliot Quataert on the thermodynamic
                  history of gas accreted on to galaxies and
                  groups. Previously, with Chris McKee and Aristotle
                  Socrates, I investigated the impact of
                  turbulence in molecular clouds on the orientation of
                  protoplanetary disks relative to the spin axis of
                  their host stars. As an undergraduate I did two
                  small research projects, one with Ned Wright at UCLA
                  on the thermodynamics of cratered asteroids for
                  comparison with WISE observations, and one with
                  Michal Simon at Stony Brook on using the equivalent
                  width of Na lines as an age indicator for nearby
                  young stars.</p>
    <!--<p><a href="#">More about what got me where I am</a></p>-->
            </div>
        </div>

        <div class="pt-page pt-page-2">
            <div class="header">
                <h1>Drummond Fielding</h1><br><br><br>
                <p>third year graduate student</p>
                <p>uc berkeley astrophysics</p>
            </div>
        </div>

        <div class="pt-page pt-page-3">
            <!--<img src='http://apod.nasa.gov/apod/image/1104/M101HST-GendlerM.jpg' style="width: 300px; height: 300px;">-->
            <div class="page-content">
                <h3>About</h3>
                <p> Born in New York City, moved to Montclair,
                  NJ. Attended Johns Hopkins University in Baltimore,
                  MD (2008-2012). Rode my bicycle from Baltimore to
                  Berkeley (part of the 4K for Cancer). Began my time
                  at UC Berkeley in the astronomy department, funded
                  through The Berkeley Fellowship and the National
                  Science Foundation Graduate Research Fellowship.</p>
            </div>
            <!--<p><a href="#">In depth descriptions</a></p>-->
        </div>

        <div class="pt-page pt-page-4">
            <!--<img src="http://i.imgur.com/DEo5qUE.jpg" style="width: 300px; height: 300px;">-->
            <div class="page-content">
                <h3>Personal</h3>
                <p>This is sort of a repository for things I do with
                  my spare time and/or find cool and want to
                  share. Art, science, succulents, food, running, you
                  name it.</p>
            </div>
            <!--<p><a href="#">More cool stuff</a></p>-->
        </div>
            <!-- ... -->
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'main/js/main.js' %}"></script>
{% endblock %}
