{% extends 'base.html' %}
{% load staticfiles %}

{% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{% static 'home/css/home_transitions.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'home/css/home.css' %}" />
{% endblock %}

{% block body %}
    <div class="pt-wrapper">
        <div class="pt-trigger-container">
            <div class="arrow-buttons">
                <div class="top pt-trigger" data-animation="4" data-goto="2">
                    <img src="{% static 'home/images/arrow.ico' %}"/>
                    <h1 class="transition-link home">Home</h1>
                </div>
                <div class="right pt-trigger" data-animation="1" data-goto="-1">
                    <h1 class="transition-link to-page">About</h1>
                    <h1 class="transition-link home">Home</h1>
                    <img src="{% static 'home/images/arrow.ico' %}"/>
                </div>
                <div class="left pt-trigger" data-animation="2" data-goto="-2">
                    <h1 class="transition-link to-page">Research</h1>
                    <h1 class="transition-link home">Home</h1>
                    <img src="{% static 'home/images/arrow.ico' %}"/>
                </div>
                <div class="down pt-trigger" data-animation="3" data-goto="4">
                    <h1 class="transition-link to-page">Personal</h1>
                    <img src="{% static 'home/images/arrow.ico' %}"/>
                </div>
            </div>
        </div>

        <div class="pt-page pt-page-1">
            <!--<img src='http://apod.nasa.gov/apod/image/1409/cocoonIC5146pelliccia.jpg' style="width: 300px; height: 300px;">-->
            <div class="page-content">
                <h3>Research</h3>
                <p>I don't do research currently. But would love to.</p>
    <!--<p><a href="#">More about what got me where I am</a></p>-->
            </div>
        </div>

        <div class="pt-page pt-page-2">
            <div class="header">
                <h1>Lucas Brambrink</h1><br><br><br>
                <p>python developer</p>
                <p>New York City</p>
            </div>
        </div>

        <div class="pt-page pt-page-3">
            <!--<img src='http://apod.nasa.gov/apod/image/1104/M101HST-GendlerM.jpg' style="width: 300px; height: 300px;">-->
            <div class="page-content">
                <h3>About</h3>
                <p> Born in Wiesbaden, Germany. Moved to Portland OR age 14.
                    Attended Johns Hopkins University in Baltimore,
                  MD (2008-2012). Did Post-bacc work in physics at University of Oregon.
                Attended Byte Academy, financial coding bootcamp in NYC. Worked at startup
                in event ticketing market. </p>
            </div>
            <!--<p><a href="#">In depth descriptions</a></p>-->
        </div>

        <div class="pt-page pt-page-4">
            <!--<img src="http://i.imgur.com/DEo5qUE.jpg" style="width: 300px; height: 300px;">-->
            <div class="page-content">
                <h3>Personal</h3>
                <p>This is sort of a repository for things I do with
                  my spare time and/or find cool and want to
                  share. Art, science, succulents, food, running, you
                  name it.</p>
            </div>
            <!--<p><a href="#">More cool stuff</a></p>-->
        </div>
            <!-- ... -->
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'home/js/home.js' %}"></script>
{% endblock %}
