{% extends 'base.html' %}
{% load staticfiles %}

{% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{% static 'home/css/home_transitions.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'home/css/home.css' %}" />
{% endblock %}

{% block body %}
    <div class="pt-wrapper">
        <div class="pt-trigger-container">
            <div class="arrow-buttons">
                {#  HOME TRIGGERS  #}
                <div class="top home pt-trigger" data-animation="4" data-goto="001">
                    <img src="{% static 'home/images/arrow.ico' %}"/>
                    <h1 class="transition-link">Home</h1>
                </div>
                <div class="left home pt-trigger" data-animation="2" data-goto="001">
                    <img src="{% static 'home/images/arrow.ico' %}"/>
                    <h1 class="transition-link">Home</h1>
                </div>
                <div class="right home pt-trigger" data-animation="1" data-goto="001">
                    <img src="{% static 'home/images/arrow.ico' %}"/>
                    <h1 class="transition-link">Home</h1>
                </div>

                {#  ALGORITHMS TRIGGER  #}
                <div class="right base pt-trigger" data-animation="1" data-goto="100">
                    <h1 class="transition-link">Algorithms</h1>
                    <img src="{% static 'home/images/arrow.ico' %}"/>
                </div>
                {#  POSTS TRIGGER  #}
                <div class="left base pt-trigger" data-animation="2" data-goto="200">
                    <h1 class="transition-link">Earth</h1>
                    <img src="{% static 'home/images/arrow.ico' %}"/>
                </div>
                {#  PERSONAL TRIGGER  #}
                <div class="down base pt-trigger" data-animation="3" data-goto="300">
                    <h1 class="transition-link">Personal</h1>
                    <img src="{% static 'home/images/arrow.ico' %}"/>
                </div>

                {#  SCROLL TRIGGERS  #}
                <div class="left prev pt-trigger" data-animation="2" data-goto="-2">
                    <img src="{% static 'home/images/arrow.ico' %}"/>
                </div>
                <div class="right next pt-trigger" data-animation="1" data-goto="-1">
                    <img src="{% static 'home/images/arrow.ico' %}"/>
                </div>
                <div class="top prev pt-trigger" data-animation="4" data-goto="-2">
                    <img src="{% static 'home/images/arrow.ico' %}"/>
                </div>
                <div class="down next pt-trigger" data-animation="3" data-goto="-1">
                    <img src="{% static 'home/images/arrow.ico' %}"/>
                </div>
            </div>
        </div>

        {#  LANDING PAGE  #}
        <div class="pt-page pt-page-001 pt-page-current" data-section="home">
            <div class="header">
                <h1>Lucas Brambrink</h1>
                <p>python developer</p>
                <p>New York City</p>
            </div>
        </div>


        {#  ALGORITHMS PAGES 10 - 19  #}
        <div class="pt-page pt-page-100 algo">
            <div class="page-content">
                <h1 class="main-header">Algorithms</h1>

                <div class="blurb">
                    <p>
                        Let's face it: algorithm challenges are fun. Beyond their utility as programmatic excercises,
                        they sharpen our problem solving abilities. It is often said that problem solving is the main ingredient to successful
                        software development.
                        <br>"We should be solving problems, not building features. Features are attributes, not objectives."
                    </p>
                    <p>
                        As such, algorithm challenges force us to:
                    </p>
                        <ol class="numbered-list">
                            <li>Figure out <i>exactly</i> what components need to be addressed. Knowing this alone is invaluable.</li>
                            <li>Think about how the ideal solution would behave.</li>
                            <li>Iterate! Build with purpose, and fail quickly.</li>
                        </ol>
                </div>

                <div class="quote">
                    <p>"As human beings, we get better at what we practice. No matter what it is.
                    If you practice methodology X, you will get good at it.
                    Therefore, I would like you to ask yourself, where do you think there is more leverage?
                    I don't care what X is. Pick any X you want. Would you rather be good at it or the general skill of solving problems?</p>
                    <p class="name"> - Rich Hickey</p>
                </div>

                <div class="add-on">
                </div>
            </div>
        </div>

        <div class="pt-page pt-page-101 algo">
            <div class="page-content">
                <div>
                    <img src="{% static 'home/images/algo_intro.png' %}"/>
                </div>
            </div>
        </div>


        <div class="pt-page pt-page-102 algo">
            <div class="page-content">
                <div>
                    <img src="{% static 'home/images/pe_intro.png' %}"/>
                </div>
            </div>
        </div>

        <div class="pt-page pt-page-103 algo">
            <div class="page-content">
                <div>
                    <img src="{% static 'home/images/large_sum_intro.png' %}"/>
                </div>
            </div>
        </div>

        <div class="pt-page pt-page-104 algo">
            <div class="page-content">
                <div>
                    <img src="{% static 'home/images/large_sum_2.png' %}"/>
                </div>
            </div>
        </div>

        <div class="pt-page pt-page-105 algo">
            <div class="page-content">
                <div>
                    <img src="{% static 'home/images/large_sum_3.png' %}"/>
                </div>
            </div>
        </div>

        <div class="pt-page pt-page-106 algo">
            <div class="page-content">
                <div>
                    <img src="{% static 'home/images/large_sum_4.png' %}"/>
                </div>
            </div>
        </div>



        {#  BLOG POSTS PAGES 10 - 19  #}
        <div class="pt-page pt-page-200">
            <div class="page-content">
                <div class="quote">
                    <p>Everybody needs beauty as well as bread, places to play
                       in and pray in, where nature may heal and give strength
                       to body and soul alike. </p>
                    <p>-   John Muir</p>
                </div>
            </div>
        </div>

        {#  BLOG POSTS  #}
        <div class="pt-page pt-page-201">
            <div class="page-content">
                <h3></h3>
                <div></div>
            </div>
        </div>
        <div class="pt-page pt-page-202">
            <div class="page-content">
                <h3></h3>
                <div></div>
            </div>
        </div>
        <div class="pt-page pt-page-203">
            <div class="page-content">
                <h3></h3>
                <div></div>
            </div>
        </div>
        <div class="pt-page pt-page-204">
            <div class="page-content">
                <h3></h3>
                <div></div>
            </div>
        </div>
        <div class="pt-page pt-page-205">
            <div class="page-content">
                <h3></h3>
                <div></div>
            </div>
        </div>
        <div class="pt-page pt-page-206">
            <div class="page-content">
                <h3></h3>
                <div></div>
            </div>
        </div>
        <div class="pt-page pt-page-207">
            <div class="page-content">
                <h3></h3>
                <div></div>
            </div>
        </div>
        <div class="pt-page pt-page-208">
            <div class="page-content">
                <h3></h3>
                <div></div>
            </div>
        </div>
        <div class="pt-page pt-page-209">
            <div class="page-content">
                <h3></h3>
                <div></div>
            </div>
        </div>

        <div class="pt-page pt-page-210">
            <div class="page-content">
                <h3></h3>
                <div></div>
            </div>
        </div>

        <div class="pt-page pt-page-211">
            <div class="page-content">
                <h3></h3>
                <div></div>
            </div>
        </div>


        {#  PERSONAL STUFF  #}
        <div class="pt-page pt-page-300">
            <div class="page-content">
                <h3>Personal</h3>
                <p>
                    I was born in Wiesbaden, Germany, and moved to Portland, OR at age 14.
                    I studied Neuroscience and Philosophy at Johns Hopkins University in Baltimore, MD (2008-2012), and completed Post-bacc work in Physics at University of Oregon.
                    After attending Byte Academy, a full-stack coding bootcamp in NYC, I started working as a
                    junior python dev at a NYC-based start-up. I currently work for a hiring consultant firm as a software developer.
                </p>
                <p>
                    When I'm not writing code, I enjoy hiking, playing the piano, running, reading, cooking and gardening.
                </p>
            </div>
        </div>

    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'home/js/home.js' %}"></script>
    <script src="https://gist.github.com/lucasbrambrink/81244ac8e9ed82b4fa48.js"></script>
{% endblock %}
