.neighborhood-guides { background-color:#efefef; border-bottom:1px solid #dbdbdb;
  h2 { color:#393c3d; font-size:24px; }
  p { font-size:15px; margin-bottom:13px; }
}

.nav {
  a { color: #5a5a5a; font-size: 11px; font-weight: bold; padding: 14px 10px; text-transform: uppercase; }
  li { display: inline; }
}



.container { position: relative; top:100px;
  .header { text-align: center; margin-top: 5em;
    h1 { color: #fff; font-size: 48px; font-family: 'Shift', sans-serif; font-weight: bold; }
    p { font-size: 20px; color: #fff; }
  }
}

.learn-more { background-color: #f7f7f7;
  h3 { font-family: 'Shift', sans-serif; font-size: 18px; font-weight: bold; }
  a { color: #00b0ff; }
}


.pt-trigger-container { width: 100%; height: 100%; filter: invert(100%); -webkit-filter: invert(100%);
  .arrow-buttons { box-shadow: none;
    h1.transition-link { color: black; text-decoration:none; border-bottom: 3px solid rgba(0,0,0,0); transition: border-color 0.8s;}
    h1.transition-link:hover { border-color: rgba(0,0,0,1); color: black; }
    div { position: absolute; box-shadow: none; }
    img { width: 150px; height: 100px; box-shadow: none; position: fixed; }

    .top { top: -3%; margin-top: 1em; left: 45%; visibility: hidden;
      h1.transition-link { margin: 0; margin-left: 0.9em; margin-top: 1.8em; }
      img { top: -3%; }
    }
    .right { top: 40%; right: 110px;
      .transition-link { top: 41%; right: 1.7em; position: fixed; }
      img { transform: rotate(90deg); }
    }
    .left { top: 40%; left: -43px;
      .transition-link { top: 41%; left: 1.7em; position: fixed; }
      img { transform: rotate(-90deg); }
    }
    .down { top: 90%; left: 45%;
      h1.transition-link { margin-left: 12px; padding: 0 0 0 0; position: fixed; top: 85%; }
      img { transform: rotate(180deg);}
    }
//    .top.prev { top: -500px; }
    .down.next { top: 90%; }
    .next, .prev, .home { visibility: hidden; }
  }
}

.page-content { left: 40%; top: 30%; position: fixed; width: 80%;}
.page-content.algo { left: 20%; top: 12%; width: 60%;
  img { width: 700px; }
}
.pt-page-001 {
    background-image: url('http://i.imgur.com/m4lI6NS.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  .header { text-align: center; margin-top: 16em;
    h1 { color: #fff; font-size: 48px; font-family: 'Shift', sans-serif; margin-bottom: 1em; }
    p { font-size: 20px; color: #fff; }
  }
}

.pt-page-100, .pt-page-101, .pt-page-102, .pt-page-103, .pt-page-104 {
//    background-image: url('../images/algo-background.jpg');
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
}
.pt-page-100 { font-family: 'Shift', sans-serif;
  .page-content { left: 15%; top: 12%; padding: 1em; width: 70%; font-size: 120%;
    .main-header { text-align: left; margin-bottom: 2em; }
    .blurb { width: 100%; }
    .quote { margin-top: 3em; font-size: 120%;
      .name { margin-left: 6em; font-style: normal; font-weight: bold; }
    }
  }
}

.pt-page-101 { font-family: 'Shift', sans-serif;
  .page-content { left: 15%; top: 8%; padding: 1em; width: 70%; font-size: 120%;
    .main-header { text-align: left; }
    p { margin-top: 25px; }
    .indented { padding: 0 50px 0 50px; }
    .quote { margin-top: 3em; font-size: 120%;
      .name { margin-left: 6em; font-style: normal; font-weight: bold; }
    }
  }
}

.pt-page-200 {
  background-image: url('http://i.imgur.com/HmNQoFA.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  .page-content {
    div { position: fixed; }
    .quote { top: 70%; right: 15%; width: 20%; text-align: right;
      p { color: #fff; font-family: 'Shift', sans-serif; }
      p:nth-child(1) { text-style: italic; font-size: 115%; }
      p:nth-child(2) { margin-top: 2em; font-size: 125%; }
    }
  }
}

.pt-page-201 {
    background-image: url('http://i.imgur.com/w43EJU5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.pt-page-202 {
    background-image: url('http://i.imgur.com/e9murE3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.pt-page-203 {
    background-image: url('http://i.imgur.com/iDPBSrU.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.pt-page-204 {
    background-image: url('http://i.imgur.com/qbQNJ9Q.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.pt-page-205 {
    background-image: url('http://i.imgur.com/qdd6Kky.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.pt-page-206 {
    background-image: url('http://i.imgur.com/TNQjjfM.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.pt-page-207 {
    background-image: url('http://i.imgur.com/TfWgzUf.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.pt-page-208 {
    background-image: url('http://i.imgur.com/OY6moKn.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.pt-page-209 {
    background-image: url('http://i.imgur.com/Hopil4I.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.pt-page-210 {
    background-image: url('http://i.imgur.com/ruMWUB5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.pt-page-211 {
    background-image: url('http://i.imgur.com/tu3Sudj.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.pt-page-300 {
    background-image: url('http://i.imgur.com/3Eu79zO.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  .page-content { position: fixed; top: 70%; left: 10%; width: 40%;  }
}


