.neighborhood-guides { background-color:#efefef; border-bottom:1px solid #dbdbdb;
  h2 { color:#393c3d; font-size:24px; }
  p { font-size:15px; margin-bottom:13px; }
}

.nav {
  a { color: #5a5a5a; font-size: 11px; font-weight: bold; padding: 14px 10px; text-transform: uppercase; }
  li { display: inline; }
}



.container { position: relative; top:100px;
  .header { text-align: center; margin-top: 5em;
    h1 { color: #fff; font-size: 48px; font-family: 'Shift', sans-serif; font-weight: bold; }
    p { font-size: 20px; color: #fff; }
  }
}

.learn-more { background-color: #f7f7f7;
  h3 { font-family: 'Shift', sans-serif; font-size: 18px; font-weight: bold; }
  a { color: #00b0ff; }
}


.pt-trigger-container { width: 100%; height: 100%; filter: invert(100%); -webkit-filter: invert(100%);
  .arrow-buttons { box-shadow: none;
    h1.transition-link { color: black; text-decoration:none; border-bottom: 3px solid rgba(0,0,0,0); transition: border-color 0.8s;}
    h1.transition-link:hover { border-color: rgba(0,0,0,1); color: black; }
    div { position: absolute; box-shadow: none; }
    img { width: 150px; height: 100px; box-shadow: none; position: fixed; }

    .top { top: -10%; left: 45%; visibility: hidden;
      h1.transition-link { margin: 0; margin-left: 0.9em; margin-top: 2.3em; }
    }
    .right { top: 25%; right: 10em;
      .transition-link { top: 26%; right: 2.6em; position: fixed; }
      .transition-link.home { top: 26%; right: 2.6em; position: fixed; visibility: hidden; }
      img { transform: rotate(90deg); }
    }
    .left { top: 25%; left: 0;
      .transition-link { top: 26%; left: 2.7em; position: fixed; }
      .transition-link.home { top: 26%; left: 2.7em; position: fixed; visibility: hidden; }
      img { transform: rotate(-90deg); }
    }
    .down { top: 73%; left: 45%;
      h1.transition-link { margin: 0; margin-left: 9px; padding: 0 0 0 0; }
      img { transform: rotate(180deg);}
    }
    .next, .prev, .home { visibility: hidden; }
  }
}

.page-content { left: 40%; top: 30%; position: fixed; width: 20em;}

.pt-page-1 {
    background-image: url('http://i.imgur.com/m4lI6NS.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  .header { text-align: center; margin-top: 5em;
    h1 { color: #fff; font-size: 48px; font-family: 'Shift', sans-serif; font-weight: bold; }
    p { font-size: 20px; color: #fff; }
  }
}

.pt-page-10 {
    background-image: url('http://i.imgur.com/0X2Seqq.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.pt-page-20 {
    background-image: url('http://i.imgur.com/x3DPfaH.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.pt-page-30 {
    background-image: url('http://i.imgur.com/3Eu79zO.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


